<button type="button" class="btn btn-light border-secondary m-1">
    ❤️ <span class="badge badge-secondary"><%= redheart %></span>
</button>
<button type="button" class="btn btn-light border-secondary m-1">
    🧡 <span class="badge badge-secondary"><%= orangeheart %></span>
</button>
<button type="button" class="btn btn-light border-secondary m-1">
    💚 <span class="badge badge-secondary"><%= greenheart %></span>
</button>
<button type="button" class="btn btn-light border-secondary m-1">
    💔 <span class="badge badge-secondary"><%= heartbroken %></span>
</button>
<button type="button" class="btn btn-light border-secondary m-1">
    💙 <span class="badge badge-secondary"><%= blueheart %></span>
</button>
<button type="button" class="btn btn-light border-secondary m-1">
    💜 <span class="badge badge-secondary"><%= purpleheart %></span>
</button>
<button type="button" class="btn btn-light border-secondary m-1">
    🖤 <span class="badge badge-secondary"><%= blackheart %></span>
</button>
<button type="button" class="btn btn-light border-secondary m-1">
    👩‍❤️‍👩 <span class="badge badge-secondary"><%= inrel %></span>
</button>
<button type="button" class="btn btn-light border-secondary m-1">
    🔥 <span class="badge badge-secondary"><%= fire %></span>
</button>
<button type="button" class="btn btn-light border-secondary m-1">
    💞 <span class="badge badge-secondary"><%= ffish %></span>
</button>
<button type="button" class="btn btn-light border-secondary m-1">
    🙅🏻‍♂️/🙅🏻‍♀️ <span class="badge badge-secondary"><%= creep %></span>
</button>